.Portfolio {
	text-align: left;
	margin: 4rem 0rem 1.5rem;

	@media (max-width: 992px) {
		margin: 4rem 0rem 4.5rem;
	}

	&__link {
		font-size: 14px;
		margin-top: 63px;

		svg {
			height: 30px;
			width: 30px;
			margin-left: 1rem;
			animation-name: forward;
			animation-duration: 0.5s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			vertical-align: middle;

			@keyframes forward {
				from {
					margin-left: 1rem;
				}

				to {
					margin-left: 2rem;
				}
			}
		}
	}
}
