@font-face {
    font-family: 'NeurialGrotesk';
    font-weight: 400;
    src: url('../fonts/NeurialGrotesk-Regular.otf') format('otf');
    font-display: swap;
}

@font-face {
    font-family: 'NeurialGrotesk';
    font-weight: 500;
    src: url('../fonts/NeurialGrotesk-Medium.otf') format('otf');
    font-display: swap;
}

@font-face {
    font-family: 'NeurialGrotesk';
    font-weight: 600;
    src: url('../fonts/NeurialGrotesk-Extrabold.otf') format('otf');
    font-display: swap;
}

@font-face {
    font-family: 'NeurialGrotesk';
    font-weight: 700;
    src: url('../fonts/NeurialGrotesk-Bold.otf') format('otf');
    font-display: swap;
}