.PortfolioCard {
	grid-gap: 5rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	height: auto;
	width: 100%;

	&__container {
		flex-direction: row;
		gap: 5rem;
		height: 20rem;
		padding: 2rem;
		border-radius: 1.7rem;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		display: flex;

		@media (max-width: 992px) {
			flex-direction: column !important;
			gap: 3rem;
			height: 33rem;
			margin: 0 auto;
			width: -moz-fit-content;
			width: -webkit-fit-content;
			width: fit-content;
			background-color: #fff;
		}
	}

	&__image {
		background-color: hsla(0, 0%, 46%, 0.2);
		border-radius: 1.7rem;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		height: auto;
		overflow: hidden;
		width: 34rem;

		@media (max-width: 992px) {
			width: 18rem;
			margin-left: -10px;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		height: auto;
		justify-content: center;
		text-align: center;
		width: 30rem;
		color: #e1e1e1;
		@media (max-width: 992px) {
			width: 18rem;
			margin-left: -10px;
		}

		h3 {
			font-size: 16px;
			text-transform: uppercase;
			margin-bottom: 2rem;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.2rem;
		}

		p {
			font-size: 16px;
			color: #e1e1e1;
			text-align: center;
			text-transform: none;
			font-weight: 500;
		}
	}

	&__stack {
		display: flex;
		gap: 1rem;
		justify-content: center;
		margin-top: 1rem;

		@media (max-width: 991px) {
			flex-wrap: wrap;
		}

		p {
			border: 1px solid #4ba5f9;

			padding: 7px;
			border-radius: 6px;

			@media (max-width: 992px) {
				padding: 9px 13px;
			}
		}
	}

	&__links {
		display: flex;
		justify-content: space-evenly;
		margin-top: 3rem;
		gap: 1rem;
		align-items: center;

		a {
			font-size: 16px;
			color: black;
			font-weight: 500;
			text-decoration: none;
			display: flex;
			align-items: center;
			gap: 5px;
			cursor: pointer;

			i {
				font-size: 2.8rem;
			}

			.link-icon {
				font-size: 2rem !important;
			}

			img {
				width: 1.5rem;
			}

			&:hover {
				transition: all 0.3s;
			}
		}
	}
}
