.Navigation {
	&__wrapper {
		width: 100%;
		height: auto;
		padding: 25px 40px 25px 50px;
		display: flex;
		justify-content: space-between;
		top: 0;
		left: 0;
		box-shadow: 0px 0px 10px rgb(0 0 0 / 9%);
		z-index: 200;
		align-items: center;
		background: transparent;
		font-size: 1.7rem;
		color: #e1e1e1;

		@media (min-width: 992px) {
			flex-flow: row nowrap;
			// justify-content: flex-start;
		}

		@media (max-width: 991px){
			padding: 20px;
			font-size: 0%;
		}
	}
	a {
		padding: 10px 14px;
		text-decoration: none;
		color: #e1e1e1;
		font-size: 1.7rem;
		opacity: 0.7;
		transition: all 0.4s ease;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}
