.ContactForm {
	padding: 100px 66px;
	background: transparent;
	margin-bottom: 2rem;
	resize: none;
	color: #e1e1e1 !important;
	box-shadow: none !important;
	border-color: #14202b !important;
	max-width: 83%;
	position: relative;
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	align-items: center;

	@media (max-width: 585px) {
		width: 100% !important;
	}

	@media (max-width: 989px) {
		width: 100% !important;
	}

	@media (max-width: 220px) {
		width: 100% !important;
	}

	&__title {
		font-weight: 900;
		margin: 4rem 0rem 1.5rem;
		position: relative;
		font-size: 3.075em;
	}

	&__textFields {
		display: block;
		width: 100%;
		height: calc(1.5em + 0.75rem + 2px);
		padding: 24px 21px;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		margin-bottom: 35px;
		background: transparent;
		border-color: #14202b;
		&:focus {
			background-color: #14202b;
		}
	}

	&__textArea {
		background: transparent;
		margin-bottom: 2rem;
		resize: none;
		box-shadow: none !important;
		padding: 24px 21px !important;
		border-color: var(--border-color) !important;
		width: 100%;
		height: auto;
		font-size: 1rem;
		font-weight: 400;
		border-color: #14202b;
		&:focus {
			background-color: #14202b;
		}
	}

	&__submit {
		font-size: calc(0.875em + 1.1px);
		background: #e1e1e1;
		border: none;
		color: #020a13;
		border-radius: 5px;
		padding: 15px 40px;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		line-height: 1.5;
		display: inline-block;
		font-weight: 400;
		text-align: center;
		vertical-align: middle;
	}
}
